form {

	display: flex;
	max-width: 1000px;
	margin: 10px auto;
	padding: 20px;
	background-color: #d5ded2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
h4{
	font-size: large;
	margin-left: 40%;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #888;
	font-size: 14px;
}
select {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

 input[type="text"]{
	display: flex;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;

}
 input[type="submit"] {
	background-color: #2078ac;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;

	 height: 10%;

}
 input[type="submit"]:hover {
	background-color: #2078ac;
}
 input[type="submit"][name="union"] {
	background-color: #2078ac;
	margin-left: 10px;
}
input[type="submit"][name="union"]:hover {
	background-color: #2078ac;
}