
.card {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 50px auto;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;

}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
}

.card .front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.card .front .top {
    width: 70%;
    height: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #2f4ad0;
    font-size: 2em;
}

.card .front .bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:  rotateY(-180deg);
    border: 1px solid #ccc;
}

.card .back .section {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #2f4ad0;
    font-size: 2em;
}

.card .back .bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card.active {
    transform:  rotateY(180deg);
}

.buttonExotic {
    cursor: pointer;
    font-size: medium;
    width: 10%;
    background-color: #2078ac;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    alignment: center;
    align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width:50%;
}

.buttonExotic:hover {
    background-color: #4fa5d5;
    width:50%;
}

#percentage {
    position: relative;
    top: 0;
    left: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    animation: count-up 3s ease-in-out;
}

#percentage2 {
    position: relative;
    top: 0;
    left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    animation: count-up 3s ease-in-out;
}

.subrayado {
    text-decoration: underline;
    text-decoration-color: #2f4ad0;
}

.blockP {
    width: 180px !important;
}

