* {
  font-family: "Poppins";
}

input[type="submit"] {
  background-color: #2078ac;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

  height: 10%;

}
input[type="submit"]:hover {
  background-color: #4fa5d5;
  color: #ffffff;
}

p.welcome-message {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

table.formula {
  margin: auto;
  width: 10%;
  border-collapse: separate;
  border: 1px solid #fff; /*for older IE*/
  border-style: hidden;
  overflow: scroll;
}

table.formula td {
  padding-right: -100px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #2078ac #ffffff;
  font-size: large;
}

table.formula tr{
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #2078ac #ffffff;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: left;
  height: 100vh;
  font-size: medium;
  text-align: left;
}



.fondo {
  background-image: url('../images/fondo1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer {
  padding-top: 600px;
  text-align: center;
}
.footer-title{
  padding-top: 10px;
  color: #2078ac;
  font-weight: bold;
}
.footer-text{
  color:  #2078ac;

}

h2{
  color: whitesmoke; /* Color de texto blanco */
  font-size: 2.5em; /* Tamaño de fuente */
  font-weight: bold; /* Estilo en negrita */
  text-align: left; /* Alinear el texto en el centro */
  padding-top: 5px;
  padding-left: 20px;/* Añadir un espacio en la parte superior del texto */
}

h1, h3{
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}

h3.erroneo{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
color: red;
}

.screen-1 {
  text-align: left;
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #f3f5fa;
  gap: 2em;
  align-items: center;
}
.screen-1 .logo {
  margin-top: -3em;
}
.screen-1 .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 40px;
  color: #4d4d4d;
  margin-top: -4em;
  margin-bottom: 1em;
}
.screen-1 .email input {
  outline: none;
  border: none;
}
.screen-1 .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-bottom: 1em;
}
.screen-1 .password input {
  outline: none;
  border: none;
}
.screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .login {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  font-weight: 600;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  margin-left: 25%;

}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
}
.screen-1 .footer span {
  cursor: pointer;
}


button {
  cursor: pointer;
  font-size: medium;
  width: 10%;
  background-color: #2078ac;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;
}

button:hover {
  background-color: #2078ac;
}

.btnprof {
  cursor: pointer;
  font-size: medium;
  width: 70%;
  background-color: #2078ac;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;
}

button.cancel{

  width: 50%;
  height: 100%;
  background-color: #2078ac;
  color: white;

  margin: 8px 0;
  border: none;

  cursor: pointer;
  alignment: right;
  align-items: end;

  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;


}

button.cancel:hover {
  background-color: #4fa5d5;
  color: white;
}