* {
  font-family: "Poppins";
}
.articulo{
  background: linear-gradient(to bottom, #e7f1ff, #ffffff);
}



input[type="submit"] {
  background-color: #2078ac;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 10%;

}
input[type="submit"]:hover {
  background-color: #4fa5d5;
  color: #ffffff;
}

p.welcome-message {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

table.formula {
  margin: auto;
  width: 10%;
  border-collapse: separate;
  border: 1px solid #fff; /*for older IE*/
  border-style: hidden;
  overflow: scroll;
}

table.formula td {
  padding-right: -100px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #2078ac #ffffff;
  font-size: large;
}

table.formula tr{
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #2078ac #ffffff;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: left;
  height: 100vh;
  font-size: medium;
  text-align: left;
}



.fondo {
  background-image: url('../images/fondo1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative; /* se debe establecer una posición relativa para que funcione la propiedad z-index */
}

.footer {
  padding-top: 10%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.footerLogin {
  padding-top: 10%;
  text-align: center;
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-title{
  padding-top: 10px;
  color: #2078ac;
  font-weight: bold;
}
.footer-text{
  color:  #2078ac;

}

h2{
  color: #0e043f; /* Color de texto blanco */
  font-size: 2.5em; /* Tamaño de fuente */
  font-weight: bold; /* Estilo en negrita */
  text-align: left; /* Alinear el texto en el centro */
  padding-top: 5px;
  padding-left: 20px;/* Añadir un espacio en la parte superior del texto */
}

h1, h3{
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}

h3.erroneo{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  color: red;
}

.screen-1 {
  text-align: left;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 2em;
  align-items: center;
}
.screen-1 .logo {
  margin-top: -3em;
}
.screen-1 .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 40px;
  color: #4d4d4d;
  margin-top: -4em;
  margin-bottom: 1em;
}
.screen-1 .email input {
  outline: none;
  border: none;
}
.screen-1 .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-bottom: 1em;
}
.screen-1 .password input {
  outline: none;
  border: none;
}
.screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .login {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  font-weight: 600;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  margin-left: 25%;

}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
}
.screen-1 .footer span {
  cursor: pointer;
}


button {
  cursor: pointer;
  font-size: medium;
  width: 10%;
  background-color: #2078ac;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;
}

button:hover {
  background-color: #2078ac;
}

.buttonExotic {
  cursor: pointer;
  font-size: medium;
  width: 10%;
  background-color: #2078ac;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width:100%;
}

.buttonExotic:hover {
  background-color: #4fa5d5;
  width:100%;
}

.buttonExoticTrain {
  cursor: pointer;
  font-size: medium;
  width: 210px;
  margin-left:45%;
  background-color: #2078ac;
  color: white;
  padding: 7px 10px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;

}

.buttonExoticTrainDisabled {
  font-size: medium;
  width: 210px;
  margin-left:45%;
  background-color: gray;
  color: white;
  padding: 7px 10px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;

}

.buttonExoticTrainDisabled:hover {

  background-color: gray;


}

.buttonExoticTrain:hover {
  background-color: #4fa5d5;
  width: 210px;
}

.buttonExotic2 {
  cursor: pointer;
  font-size: medium;
  width: 10%;
  background-color: #2078ac;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width:100%;
}

.buttonExotic2:hover {
  background-color: #4fa5d5;
  width:100%;
}

.btnprof {
  cursor: pointer;
  font-size: medium;
  width: 70%;
  background-color: #2078ac;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  alignment: center;
  align-items: center;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

button.cancel{

  width: 50%;
  height: 100%;
  background-color: #2078ac;
  color: white;

  margin: 8px 0;
  border: none;

  cursor: pointer;
  alignment: right;
  align-items: end;

  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;


}

button.cancel:hover {
  background-color: #4fa5d5;
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.card {
  width: 300px;
  height: 400px;
  margin: 0 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 50px;
  color: #007bff;
  margin-top: 20px;
  text-align: center;
}

.card-text {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.card:after {
  border-bottom: calc(0.375rem - 2px) solid transparent;
  border-top-color: dodgerblue;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-top-style: solid;
  border-top-width: 4px;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

#username {
  display: inline-block;
  animation: typing 3s steps(18) forwards;
}

.cuadro-texto {
  border: 4px solid;
  border-image: linear-gradient(21deg, #007bff, #1beabd) 1;
  background-color: transparent;
  padding: 15px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  height: 220px;
  margin-top: 20px;
  bottom: 20px;position: relative;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

#cursor {
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.invisible-div {
  height: 30px;
  visibility: hidden;
  clear: both;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-48%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#loader.show {
  display: flex;
}
